apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  type: {{ .Values.service.type }}
  selector:
    app: proshop-backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: proshop-frontend-service
spec:
  type: {{ .Values.service.type }}
  selector:
    app: proshop-frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80